.header {
  position: relative;
  top: 20%;
  width: 100vw;
  height: 100vh;

  svg {
    overflow: visible;
  }
  #Ellipse_2 {
    cursor: pointer;
  }
  .color {
    fill: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(31, 65, 136, 1) 0%,
      rgba(108, 108, 154, 1) 60%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}
